@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerRegular.woff) format('woff'),
         url(../fonts/MullerRegular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerLight.woff) format('woff'),
         url(../fonts/MullerLight.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerMedium.woff) format('woff'),
         url(../fonts/MullerMedium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerBold.woff) format('woff'),
         url(../fonts/MullerBold.woff2) format('woff2');
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Muller', sans-serif;
    line-height: 1;
}

body {
    background-color: #e5e5e5;
}

section {
    padding-top: 70px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 0;
    margin-left: 40px;
    font-size: 40px;
    color: #333;
    font-weight: 400;
}

.links {
    font-size: 16px;
    color: #cc9933;
}

.btn {
    padding: 13px 20px;
    color: #cc9933;
    border: 1px solid #cc9933;
    border-radius: 10px;
    background-color: transparent;
}

/* Header */


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

.logo {
    margin-right: 40px;
}

.phone {
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

.login {
    padding-left: 28px;
    background: url(../img/arrow.svg) center left no-repeat transparent; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #fff;
    border-radius: 15px;
}

.nav {
    margin-right: auto;
}

.navbar__btn-box {
    padding-left: 57px;
    border-left: 1px solid #e1e1e1;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 45px;
}

.nav__link {
    color: #666;
}

.navbar__btn:last-child {
    margin-left: 40px;
}

/* Offers */

.offers__header {
    margin-bottom: 20px;
}

.offers__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 540px;
}

.offers__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 49%;
    padding: 40px;
    border-radius: 15px;
}

.offers__item:not(:last-child) {
    margin-right: 23px;
}

.offers__item_1 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/item1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.offers__item_2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/item2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.offers__item_big {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/big.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    justify-content: flex-end;
}

.offers__title {
    font-size: 40px;
    color: #fff;
    width: 60%;
    margin-bottom: 15px;
}

.offers__title_big {
    font-size: 60px;
}

.offers__price {
    margin-bottom: 47px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.offers__link {
    color: #ffcc66;
    padding-right: 16px;
    background: url(../img/more-arrow.svg) center right no-repeat transparent;
}

.about__desc {
    width: 75%;
    line-height: 200%;
}

/* Services */

.services__title {
    margin-bottom: 20px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.services__item {
   flex: 1 1 49%;
   max-width: 49%;
   padding: 191px 126px 45px 45px;
   border-radius: 15px;
}

.services__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 23px;
}

.services__item:nth-child(odd) {
    margin-right: 23px;
}

.services__item:last-child {
    margin: 0;
}

.services__item_1 {
    background: url(../img/services/service1.jpg) no-repeat #fff;
    background-size: contain;
}

.services__item_2 {
    background: url(../img/services/service2.jpg) no-repeat #fff;
    background-size: contain;
}

.services__item_3 {
    background: url(../img/services/service3.jpg) no-repeat #fff;
    background-size: contain;
}

.services__item_4 {
    background: url(../img/services/service4.jpg) no-repeat #fff;
    background-size: contain;
}

.services__link {
    padding-right: 16px;
    font-size: 20px;
    line-height: 200%;
    font-weight: 500;
    color: #cc9933;
    background: url(../img/more-arrow2.svg) center right no-repeat transparent;
}

.services__descr {
    line-height: 200%;
    margin: 0;
}

/* Benefits*/

.benefits__title {
    margin-bottom: 30px;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits__item {
    flex: 1 1 23%;
    max-width: 23.5%;
    padding: 40px 35px 41px 45px;
    background-color: #fff;
    border-radius: 15px;
}

.benefits__item:not(:nth-child(4n)) {
    margin-right: 23px;
}

.benefits__item:not(:nth-last-child(-n+4)) {
    margin-bottom: 23px;
}

.benefits__item:last-child {
    margin: 0;
}

.benefits__icon {
    display: inline-block;
    width: 66px;
    height: 66px;
}

.benefits__icon_1 {
    background: url(../img/Benefits/bathtub.svg) center left no-repeat transparent;
}

.benefits__icon_2 {
    background: url(../img/Benefits/hanger.svg) center left no-repeat transparent;
}

.benefits__icon_3 {
    background: url(../img/Benefits/heating.svg) center left no-repeat transparent;
}

.benefits__icon_4 {
    background: url(../img/Benefits/hotel-key.svg) center left no-repeat transparent;
}

.benefits__icon_5 {
    background: url(../img/Benefits/parking.svg) center left no-repeat transparent;
}

.benefits__icon_6 {
    background: url(../img/Benefits/reception.svg) center left no-repeat transparent;
}

.benefits__icon_7 {
    background: url(../img/Benefits/security-box.svg) center left no-repeat transparent;
}

.benefits__icon_8 {
    background: url(../img/Benefits/swimming-pool.svg) center left no-repeat transparent;
}

.benefits__desc {
    margin: 0;
    font-size: 16px;
    line-height: 2em;
}

/* Hotels */

.hotels__title {
    margin-bottom: 30px;
}

.hotels__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hotels__item {
    flex: 1 1 32%;
    max-width: 32%;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 15px;
}

.hotels__item:not(:nth-child(3n)) {
    margin-right: 23px;
}

.hotels__item:last-child {
    margin: 0;
}

.hotels__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 23px;
}

.hotels__img {
    width: 100%;
    margin-bottom: 36px;
    border-radius: 15px 15px 0 0;
}

.hotels__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 45px;
    padding-right: 45px;
}

.hotels__data {
    display: flex;
    flex-wrap: wrap;
}

.hotels__price {
    margin-right: auto;
}

.hotels__price, .hotels__name, .hotels__place {
    margin-bottom: 16px;
}

.light {
    color: #999;
}

.bold {
    font-size: 20px;
    font-weight: 700;
}

.rooms {
    align-self: flex-start;
}

.hotels__more {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(../img/hotels/41.jpg) no-repeat;
    background-size: contain;
}

.hotels__all {
    padding-right: 16px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: url(../img/more-arrow3.svg) center right no-repeat transparent;
}

/* Wont */

.wont {
    padding-top: 70px;
}

.wont__title {
    margin-bottom: 19px;
}

.rectangle {
    padding-top: 38px;
    padding-bottom: 71px;
    background-color: #e9e9e9;
    border-radius: 15px;
}

.quick-booking {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
    padding: 28px;
    background-color: #fff;
    border-radius: 15px;
}

.quick-booking__field-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    border-right: 1px solid #e1e1e1;
}

.quick-booking__field-box_last {
    padding-right: 30px;
}

.quick-booking__field-desc {
    padding-left: 3px;
    font-size: 12px;
}

.quick-booking__field {
    border: 0;
}

.quick-booking__drop-list {
    width: 169px;
}

.quick-booking__field_number {
    width: 121px;
    border-bottom: 1px solid #ccc;
}

.wont__btn {
    padding: 13px 30px;
}

/* Contacts */

.contacts {
    padding-top: 70px;
}

.contacts__title {
    margin-bottom: 26px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    padding: 44px 44px 46px 46px;
    background-color: #fff;
    border-radius: 15px;
}

.contacts__box {
    max-width: 35%;
    margin-right: 50px;
}

.contacts__img {
    width: 653px;
    height: 528px;
    background: url(../img/contacts.jpg) center right no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #c4c4c4;
}

.contacts__item_top {
    padding-top: 0;
}

.contacts__name {
    max-width: 40%;
    margin: 0 20px 0 0;
}

.contacts__data {
    max-width: 60%;
    line-height: 24px;
    font-style: normal;
}

.contacts__link {
    display: inline-block;
    margin: 0;
}

.contacts__btn {
    margin-top: 45px;
    padding: 30px;
    font-weight: 700;
}

/* Footer */

.footer {
    display: flex;
    justify-content: flex-start;
    height: 341px;
    margin-top: 19px;
    margin-bottom: 20px;
    padding: 44px 52px 46px;
    background: url(../img/sun.svg) 737px 113px no-repeat #333;
    border-radius: 15px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
    max-width: 30%;
}

.copy, .footer__desc, .footer__address {
    font-style: normal;
    line-height: 30.4px;
    color: #fff;
}

.footer__contacts {
    margin-right: auto;
    line-height: 24px;
}

.footer__address {
    margin-bottom: 14px;
}

.tel {
    margin-bottom: 15px;
}

.footer__link {
    display: block;
}

.socials {
    display: flex;
    flex-direction: column;
}

.social__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.social__icon:not(:last-child) {
    margin-bottom: 20px;
}

